# Virtual Environment
venv/

# vscode
.vscode/

# Python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Output files, except requirements.txt
*.txt
!requirements.txt

# Comma-Separated Values (CSV) Reports
*.csv
