[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = ">=4.8.0"
bs4 = ">=0.0.1"
certifi = ">=2019.6.16"
colorama = ">=0.4.1"
lxml = ">=4.4.0"
requests = ">=2.22.0"
requests-futures = ">=1.0.0"
soupsieve = ">=1.9.2"
stem = ">=1.8.0"
torrequest = ">=0.1.0"
PySocks = ">=1.7.0"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
sites = "python site_list.py"
qa = "pytest --tb=no -m 'not system'"
qa_main = "pytest --tb=no -m 'system_smoke'"
qa_night = "pytest --tb=no"
