beautifulsoup4>=4.8.0
bs4>=0.0.1
certifi>=2019.6.16
colorama>=0.4.1
lxml>=4.4.0
PySocks>=1.7.0
requests>=2.22.0
requests-futures>=1.0.0
soupsieve>=1.9.2
# install from git to fix RuntimeError: dictionary keys changed during iteration
# change to stem>=1.7.2 or greater when available
-e git+https://git.torproject.org/stem.git@b5aecb7#egg=stem
torrequest>=0.1.0
