{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherlock Web</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main>
        <header>
            <h1>🕵️ Sherlock Web</h1>
            <p>Find a user's digital traces in the web.</p>
        </header>
        
        <div class="content">
            {% block content %}
            <!-- conteudo de apps/search/templates -->
            {% endblock %}
        </div>
    </main>
</body>
</html>