{% extends 'base.html' %}

{% block content %}
  <form method="post" action="{% url 'search:results' %}" data-testid="search-form">
    {% csrf_token %}
    
    <div class="input-group">
      <label for="{{ form.username.id_for_label }}">Username</label>
      
      {{ form.username }}
      
      {% if form.username.errors %}
        <ul class="errorlist">
          {% for error in form.username.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    
    <button type="submit" data-testid="submit-btn" class="btn btn-primary">
      Search for digital traces
    </button>
  </form>
{% endblock %}